<head>
    <link rel="icon" href="static/highlighter.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Introduction</title>
</head>

<body>
    <nav class="nav navbar-light navbar-fixed-top pt-2 pb-2" style="background-color:#ffeead;">
        <span class="navbar-brand mb-0 pl-3 h1">Highlighted Word</span>
        <div class="navbar-nav">
            <a class="nav-item nav-link pl-2" href="/">回首頁</a>
        </div>
    </nav>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 pt-4">
            <h1 align="center">施工中的使用說明</h1>
            <br>
            <h2>用途</h2>
            <p style="margin-left: 20px;">可以翻譯圖片上被黃色螢光筆畫起來的英文單字</p>
            <h2>當你的單字讀不太出來的時候 ...</h2>
            <p style="margin-left: 20px;">
            <ul>
                <li>螢光筆必須蓋過整個單字</li>
                <li>必須是黃色螢光筆</li>
                <li>同個螢光筆區塊內不要畫到其他字</li>
                <li>試著縮小照片的範圍</li>
            </ul>
            </p>
        </div>
        <div class="col-2"></div>
    </div>
</body>